.container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0rem 1rem;
  }

  :root {
    --font-main: "Inter", sans-serif;
    --colo-primary: #db4444;
    --colo-dark-1: #000000;
    --colo-dark-2: #7d8184;
    --colo-white-1: #ffffff;
    --colo-white-2: #f5f5f5;
    --color-green: #00d656;
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }

  /* navigation page*/
  .top_nav {
    width: 100%;
    height: 4rem;
    background-color: var(--colo-dark-1);
  }
  .top_nav_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top_nav_wrapper {
    display: flex;
    color: var(--colo-white-1);
  }
  .tap_nav_p {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .top_nav_link {
    margin-left: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--colo-white-1);
  }
  /* navbaar */
  .nav {
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid var(--colo-dark-2);
  }
  .nav_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_list {
    display: flex;
  }
  .nav_items {
    display: flex;
  }
  .nav_logo {
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--colo-dark-1);
  }
  .nav_item {
    margin: 0rem 0.5rem;
  }
  .nav_link {
    padding: 0.6rem;
    color: var(--colo-dark-1);
  }
  .nav_form {
    padding: 0.8rem;
    background-color: var(--colo-white-2);
    display: flex;
    align-items: center;
  }
  .nav_input {
    padding: 0.4rem;
    background-color: transparent;
    outline: none;
    border: none;
  }
  .nav_search {
    cursor: pointer;
  }
  .nav_items {
    display: flex;
    align-items: center;
  }
  .nav_heart {
    margin-left: 1rem;
    cursor: pointer;
  }
  .nav_cart {
    margin-left: 1rem;
    cursor: pointer;
  }
  .nav_user{
    margin-left: 1rem;
    cursor: pointer;
   background-color: transparent;
  }

  .w-6 {
    width: 2rem;
    height: 2rem;
  }
  
  .h-6 {
    fill: rgb(239, 140, 1);
  }
  


  /* header */
  .header_container {
    width: 100%;
    display: flex;
    margin-top: 4rem;
  }
  .header_filter {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .header_filter_link {
    color: var(--colo-dark-1);
  }

  @media only screen and (max-width: 1070px) {
    .header_container {
      flex-direction: column;
    }
    .header_filter {
      display: none;
    }
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
  .hamburger > svg {
    width: 4.5rem;
    height: 4.5rem;
  }
  @media only screen and (max-width: 800px) {
    .top_nav {
      display: none;
    }
    .nav_list {
      display: none;
    }
    .nav_items {
      display: none;
    }
    .hamburger {
      display: block;
    }
  }
 
  /* Register /login Design */

  .auth_container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 90vh;
  }
  .auth_img {
    width: 50%;
    height: 100%;
  }
  .auth_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .auth_content {
    width: 50%;
  }
  
  @media only screen and (max-width: 800px) {
    .auth_img {
      display: none;
    }
    .auth_content {
      width: 100%;
    }
  }
  
  .auth_content {
    padding: 10rem;
  }
  .form_title {
    font-size: 3.2rem;
  }
  .auth_p {
    margin: 2rem 0rem;
  }
  .form_group {
    width: 100%;
  }
  .form_input {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 0.6rem;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--colo-dark-2);
  }
  .form_pass {
    margin-bottom: 1rem;
  }
  .form_btn {
    width: 100%;
    padding: 1.3rem;
    background-color: var(--colo-primary);
    color: var(--colo-white-1);
    border: none;
    outline: none;
    margin-bottom: 1.5rem;
  }
.google{

  background-color: var(--colo-white-2);
}

  .form_link {
    color: var(--colo-white-1);
  }
  .form_group > span,forgot_group {
    margin-top: 2rem;
  }
  .google-sign-up-button {
    display: flex;
    align-items: center;
    padding: 1.3rem;
    gap: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: var(--colo-white-1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1.5rem;
    justify-content: center;
  }
  
  .google-sign-up-button:hover {
    background-color: #f1f1f1;
  }
  
  .google-icon {
    width: 24px;
    height: 24px;
  
  }
  
  .sign-up-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    
  }
  

  /* Footer page*/

  .footer {
    margin-top: 10rem;
    background-color: var(--colo-dark-1);
  }
  .footer_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;
    padding: 5rem 0rem;
    color: var(--colo-white-1);
  }
  .footer_logo {
    font-size: 3rem;
    color: var(--colo-white-1);
    font-weight: 700;
  }
  .footer_p {
    margin-top: 1.2rem;
  }
  .footer_item_titl {
    margin-bottom: 1.2rem;
  }
  .footer_list_item {
    margin: 0.5rem 0rem;
  }
  .footer_bottom_container {
    width: 100%;
    text-align: center;
  }
  .footer_copy {
    color: var(--colo-dark-2);
    padding: 1.5rem 0rem;
  }
.li footer_list_item a{
text-decoration: none;
color: var(--colo-white-1);
}
 
  @media only screen and (max-width: 1070px) {
    .header_container {
      flex-direction: column;
    }
    .header_filter {
      display: none;
    }
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
  .hamburger > svg {
    width: 4.5rem;
    height: 4.5rem;
  }
  @media only screen and (max-width: 800px) {
    .top_nav {
      display: none;
    }
    .nav_list {
      display: none;
    }
    .nav_items {
      display: none;
    }
    .hamburger {
      display: block;
    }
  }
  @media only screen and (max-width: 800px) {
    .gallery {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  .mobile_nav {
    display: none; 
  }
  
  .mobile_nav_hide {
    display: none;
  }
  
  .mobile_nav_list {
    list-style: none;
  }
  
  .mobile_nav_item {
    margin: 0.5rem 0;
  }
  
  .mobile_nav_link {
    color: var(--colo-dark-1);
  }


  

/* Reset Password Page Css */
.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
 
}

.reset-password-container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 10%;
}

.reset-password-form {
  background-color: white;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.passimg{
width: 50%;
height: 30%;
align-items: center;
justify-content: center;
margin-left: 25%;
margin-right: 25%;
opacity: 2;

}
.passimg:hover{
  transform: scale(1.1);
}
.passimg, h2 {
  flex-direction: column;
}


button[type="submit"] {
  width: 100%;
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  border: none;
  outline: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}


/* Profile Design */

.profile_heading h1{
  color: #DB4444;

}
.profile_nav{
  align-items: center;
  flex-direction: column;
  margin-left: 7%;
  left: 15%;
  margin-top: 7%;
}
.profile_nav h2{
margin-top: 1%;

}
.profile_nav li {

  margin-top: 0.5%;
}
.profile_nav li span{
  color: #DB4444;
}
.profile_nav li a{
  text-decoration: none;
  color: var(--colo-dark-1);
}
.edit-prof{
background-color: var(--colo-white-1);
margin-left: 35%;
margin-top: 1%;
position: absolute;
border-radius: 4px;
box-shadow: 0px 1px 13px rgba(0,0,0,0.05);
width: 50%;
height: 60%;
flex-grow: 1;
border-color: var(--colo-primary);
top: 25%;
}

.edit-prof h2{
margin-top: 2%;
margin-left: 10%;
color: var(--colo-primary);
font-family: Poppins;

}
.edit_userinfo{
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
 
}

.edit_userinfo p{
  color: var(--colo-dark-2);

}
.edit_userinfo strong{

  margin-right: 3%;
  margin-bottom: 2%;
}


.name{
  color: var(--colo-dark-2);
}
.edit_userpassword{
width: 70%;
height: 5%;
margin-bottom: 3%;
/*background-color:var(--colo-white-2);*/
background-color: transparent;
padding-left: 3%;
padding-top: 1.5%;
padding-bottom: 1.5%;
border-radius: 4px;
border-color: transparent;
}
.edit_userpassword input::placeholder{
  color: var(--colo-dark-1);
 
}

.change_userinfo{
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;

}
.change_userinfo label{
  display: flex;
  flex-direction: column;
margin-bottom: 2%;
}
.change_userinfo input{
  margin-top: 2%;
  padding-left: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 70%;
  height: 5%;
  border-radius: 4px;
  background-color: var(--colo-white-2);
  color: var(--colo-dark-1);
border: none;
}
.edit_btn{

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;
position: absolute;
top: 80%;
left: 43%;
width: 30%;
height: 25%;
position: absolute;

}
.edit_btn button{
  width: 70%;
  height: 30%;
 border: none;
;
}

.edit_btn button a{
text-decoration: none;
color: var(--colo-dark-1);
}
.save_btn{
  background-color: var(--colo-primary);
  color: #FAFAFA;
}
.cancel_btn{
  background-color: transparent;
}

.profile_footer{
  margin-top: 23%;
}
.prof_container h1{
  color: var(--colo-dark-1s);
   margin-left: 7%;
margin-top: 5%;
}
.profile_nav{
  align-items: center;
  flex-direction: column;
  margin-left: 7%;
  left: 15%;
  margin-top: 3%;
}
.profile_nav h2{
margin-top: 1%;

}
.profile_nav li {

  margin-top: 0.5%;
}
.profile_nav li span{
  color: #DB4444;
}
.profile_nav li a{
  text-decoration: none;
  color: var(--colo-dark-1);
}
.edit-prof{
background-color: var(--colo-white-1);
margin-left: 35%;
margin-top: 1%;
position: absolute;
border-radius: 4px;
box-shadow: 0px 1px 13px rgba(0,0,0,0.05);
width: 50%;
height: 60%;
flex-grow: 1;
border-color: var(--colo-primary);
top: 25%;
}

.edit-prof h2{
margin-top: 2%;
margin-left: 10%;
color: var(--colo-primary);
font-family: Poppins;

}
.edit_userinfo{
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
 
}

.edit_userinfo p{
  color: var(--colo-dark-2);

}
.edit_userinfo strong{

  margin-right: 3%;
  margin-bottom: 2%;
}


.name{
  color: var(--colo-dark-2);
}
.edit_userpassword{
width: 70%;
height: 5%;
margin-bottom: 3%;
/*background-color:var(--colo-white-2);*/
background-color: transparent;
padding-left: 3%;
padding-top: 1.5%;
padding-bottom: 1.5%;
border-radius: 4px;
border-color: transparent;
}
.edit_userpassword input::placeholder{
  color: var(--colo-dark-1);
 
}

.change_userinfo{
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;

}
.change_userinfo label{
  display: flex;
  flex-direction: column;
margin-bottom: 2%;
}
.change_userinfo input{
  margin-top: 2%;
  padding-left: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 70%;
  height: 5%;
  border-radius: 4px;
  background-color: var(--colo-white-2);
  color: var(--colo-dark-1);
border: none;
}
.edit_btn{

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;
position: absolute;
top: 80%;
left: 43%;
width: 30%;
height: 25%;
position: absolute;

}
.edit_btn button{
  width: 70%;
  height: 30%;
 border: none;
;
}

.edit_btn button a{
text-decoration: none;
color: var(--colo-dark-1);
}
.save_btn{
  background-color: var(--colo-primary);
  color: #FAFAFA;
}
.cancel_btn{
  background-color: transparent;
}

.profile_footer{
  margin-top: 23%;
}
 
@media (max-width: 850px) {
  .edit-prof {
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: auto 50%;
    top: 15%;
  }
}
